
@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Coda+Caption);
    


      body {
       /* background: #e8eae9;*/
       background: #eff0f1;
       margin: 0;
      }



     nav h3{
          color:black;
          margin: 0px;
          font-family: 'Coda Caption', sans-serif;
        }

    

      p {
        font: 13px/15px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
        text-align: left;
        text-shadow: 0 1px 0 #fff;
        padding-left: 10px;
      }
      a {
        color: black;
        font-size: 12px;
        text-decoration: none;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
      }
      a:hover {
        color: #007fff;
      }

nav{
        /*float: left;*/
       /* list-style-type: none;*/
        background: #e7e7e7;
        text-decoraton: none;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
             -o-border-radius: 3px;
                border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
             -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
        color: gray;
        font: bold 12px/40px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
        margin: .3968%;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
        /*text-transform: uppercase;*/
      }


      .name{
          color: gray;
          text-align: left;
          margin-left: 10px;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }


      aside spam{
          color: #007fff;
       }

      .comments {
        border-top: 1px solid #d1d1d1;
        padding-top: 20px;
      } 
       



      section{
     
        background: #eff0f1;
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
             -o-border-radius: 6px;
                border-radius: 6px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
             -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
        color: black;
        font: bold 12px/100px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
        margin-left: .7936%; /*10px x1260*/
        margin-top: .7936%; /*10px x1260*/
        margin-right: .3968%; /*5px x1260*/
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
        /*text-transform: uppercase;*/
      }

      .hero-image{
        height: auto;
        line-height: 0;
        position: relative;
      }

      .hero-image p{
        position: absolute;
        bottom: 10%;
        left: 5%;
        padding: 2% 4% 2% 4%;
        opacity:0.7;
         filter:alpha(opacity=70); /* For IE8 and earlier */
        background-color: white;
        font-size:2.5em;
        color: black;
        font-weight: bold;
        font-family: 'Arbutus Slab', serif;

      }


      




  section img{
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
             -o-border-radius: 6px;
                border-radius: 6px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
             -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
                }
      

      aside {

  /* fallback */
  background-color: #fff;

  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e7e7e7));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fff, #e7e7e7);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top,  #fff, #e7e7e7);
  
  /* IE 10 */
  background: -ms-linear-gradient(top,  #fff, #e7e7e7);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top,  #fff, #F7F6C5);

        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
             -o-border-radius: 6px;
                border-radius: 6px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
             -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
        color: black;
        font: bold 12px/30px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
        margin-right: .0%; /*10px x1260*/
        margin-top: .7936%; /*10px x1260*/
        margin-left: .5%; /*5px x1260*/
        text-align: left;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
     /*   text-transform: uppercase;*/
      }

aside img{
  padding-top: 30px;
}




 .sm-story {
  position: relative;
   margin-left: .0%; /*10px x1260*/
        margin-top: .7936%; /*10px x1260*/
        margin-right: 4.95%; /*5px x1260*/
        
      }

.sm-story img{
    position: relative;
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
             -o-border-radius: 6px;
                border-radius: 6px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
             -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
                }
 

 .sm-story p{
  -webkit-border-radius: 0px 0px 0px 0px;
           -moz-border-radius: 0px;
             -o-border-radius: 0px;
                border-radius: 0px;
        position: absolute;
        padding-left: 7%;
        padding-right: 27%;
        bottom: -8%;
        left: 0%;
        background-color: #e7e7e7;
        opacity:0.8;
         filter:alpha(opacity=30); /* For IE8 and earlier */
         font-size: 12px;
       /* font-weight: bold;*/
        font-size: 12px;
      

      }




img, video, canvas {
   z-index: -1;
  max-width: 100%;
}

 



      @media all and (min-width: 420px) {
        .container {
          max-width: 1260px;
          margin: 0 auto;
        }

         nav {
          float: left;
          width: 15.1%; /*210*1260px*/
          font-weight: lighter;
        }

        nav h3{
          color:black;
          margin: 0px;
          font-family: 'Coda Caption', sans-serif;
        }

        /*.nav spam{
          color:yellow;
          line-height: -2px;
          font-size: 18px;
          margin: 0px;
          font-family: 'Coda Caption', sans-serif;
        }
*/
        section {
          float: left;
           width: 46.75%; /*910*1260px*/
           height: 600px;

        }
        aside {
          float: left;
          width: 29%; /*150*660px*/
          height: 600px;
          text-align: left;
          padding-right:20px;

        }

    



      
        .hero-image p{
        position: absolute;
        bottom: 10%;
        left: 5%;
       padding: 2% 4% 2% 4%;
        opacity:0.7;
         filter:alpha(opacity=70); /* For IE8 and earlier */
        background-color: white;
        font-size:2.5em;
        color:#eff0f1;
        font-family: 'Arbutus Slab', serif;
        font-weight: bold;
      }

        .sm-story-container {
         float: right;
/*         width: 72.2222%; /*910*1260px*/*/
/*         height: 600px;*/
      }

        .sm-story {
           float: right;
           width: 15.1%; /*910*1260px*/
/*           height: 600px;*/
      }
        }





    
   @media all and (min-width: 720px) {
         .hero-image p{
        position: absolute;
        bottom: 10%;
        left: 5%;
        padding: 2% 4% 2% 4%;
        opacity:0.7;
         filter:alpha(opacity=70); /* For IE8 and earlier */
        background-color: #eff0f1;
        font-size:4em;
        color: #eff0f1;
        font-weight: lighter;
        font-family: 'Arbutus Slab', serif;
        }

        .name{
          color: gray;
          text-align: left;
          margin-left: 10px;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }

         .about spam{
          color: #007fff;
       }
          .work_exp spam{
          color: #007fff;
       }
          .salary spam{
          color: #007fff;
       }
          .location spam{
          color: #007fff;
       }


        }




     @media all and (min-width: 1220px) {
         .hero-image p{
        position: absolute;
        bottom: 10%;
        left: 5%;
        padding: 2% 4% 2% 4%;
        opacity:0.7;
         filter:alpha(opacity=70); /* For IE8 and earlier */
        background-color: white;
        font-size:6em;
        color:black;
        font-style: lighter;
        font-family: 'Arbutus Slab', serif;

      }
        }     


      }

 